.extraBold28 {
  font-weight: 800;
  font-size: 28px;
}

.extraBold22 {
  font-weight: 800;
  font-size: 22px;
}

.extraBold17 {
  font-weight: 800;
  font-size: 17px;
}

.extraBold15 {
  font-weight: 800;
  font-size: 15px;
}

.extraBold11 {
  font-weight: 800;
  font-size: 11px;
}

.regular22 {
  font-size: 22px;
}

.regular17 {
  font-size: 17px;
}

.regular15 {
  font-size: 15px;
}

.regular13 {
  font-size: 13px;
}
