$borderLightColor: #7C8591;
$bgLightColor: #F0F2F4;
$textLightPrimary: #21262E;
$textLightSecondary: #505965;

$borderDarkColor: #3C444F;
$bgDarkColor: #000000;
$textDarkPrimary: #E9EBEE;
$textDarkSecondary: #939BA7;
