@use "@shared/configs/styles/variables.module" as vars;

.dark {
    background-color: vars.$bgDarkColor;
    color: vars.$textDarkPrimary;
    border-color: vars.$borderDarkColor;
}

.light {
    background-color: vars.$bgLightColor;
    color: vars.$textLightPrimary;
    border-color: vars.$borderLightColor;
}